<div class = "d-flex justify-content-between">
  <h4 class = "field m-3">コメント一覧</h4>
</div>
<div>
  <!-- テーブルヘッダー部分 -->
  <table class = "table" >
    <thead class = "table-primary">
      <tr>
        <th>ID</th>
        <th>投稿日時</th>
        <th>タイトル</th>
        <th>投稿ユーザー</th>
        <th>コメント内容</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- コメントモデルから1ページ分（データ30件） -->
      <% @comments.each do |f| %>
      <tr>
        <!-- コメントID -->
        <td><%= f.id %></td>
        <!-- コメント日時 -->
        <td><%= f.get_comment_date %></td>
        <!-- タイトル -->
        <td>
          <!-- 投稿内容の情報へのリンク -->
          <%= link_to admin_post_path(f.post_id) do %>
            <%= f.get_post_title(f.post_id) %>
          <% end %>
        </td>
        <!-- 投稿ユーザー -->
        <td>
          <!-- 投稿ユーザーの情報へのリンク -->
          <%= link_to admin_user_path(f.user_id) do %>
            <%= f.get_post_user_name(f.post_id) %>
          <% end %>
        </td>
        <!-- コメント内容 -->
        <td><%= f.get_comment_word %></td>
        <!-- 削除ボタン -->
        <td><%= link_to "削除", admin_comment_path(f.id), method: :delete, class:"btn btn-danger", "data-confirm" => "OKボタンを押すと削除します。本当に削除しますか？"  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- ページリンク -->
<div class = "d-flex justify-content-center">
  <%= paginate @comments %>
</div>