<div class = "row">
  <%= render 'layouts/users_sidebar' %>
  <div class = "offset-1 col-7">
  <h4>投稿内容編集</h4>
  <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
   <%= render 'layouts/error_messages', model: f.object %>
    <div class = "field my-2 offset-1">
      <table class = "table table-borderless" >
        <tbody>
          <tr>
            <th>投稿画像</th>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <th>タイトル名</th>
            <td><%= f.text_field :title, :placeholder => "私の家の猫", autofocus: true, class: 'form-control' %></td>
          </tr>
          <tr>
            <th>タグリスト</th>
            <td><%= f.text_field :tag_list, :placeholder => "ペット,三毛猫" , value: @post.tag_list.join(','), class: 'form-control' %></td>
          </tr>
          <tr>
            <th>投稿コメント</th>
            <td><%= f.text_area :posts_comment, :placeholder => "名前はミケです。オスの3歳です。" , size: "50x10", class: 'form-control' %></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <div class="d-flex justify-content-lg-between">
                <%= f.submit "変更", class:"btn btn-success" %>
                <%= link_to "削除", post_path(@post.id), method: :delete , class: "btn btn-danger", "data-confirm" => "OKボタンを押すと削除します。本当に削除しますか？" %>
              </div>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>