<div class = "row">
  <% if user_signed_in? && !current_user.is_deleted %>
     <%= render 'layouts/users_sidebar' %>
  <% end %>
  <div class = "offset-1">
    <h4><%= @post.title %></h4>
    <div class = "items_image offset-1">
      <%= image_tag @post.get_profile_image(200) %>
    </div>
  </div>

  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <td><%= @post.user.name %></td>
        </tr>
        <tr>
          <th>投稿日時</th>
          <td><%= @post.get_posted_date %></td>
        </tr>
        <tr>
          <td><%= render 'layouts/tag_list', tag_list: @post.tag_list %></td>
        </tr>
        <tr>
          <th>投稿コメント</th>
          <td><%= @post.posts_comment %></td>
        </tr>
        <tr>
          <th>コメント ： <%= @post.comments.count %> 件</th>
        </tr>
        <tr>
          <% @post.comments.each do |comment| %>
          <td>
            <div>
                  <p><%= image_tag comment.user.get_profile_image(10) %> <%= comment.user.name %></p>
                  <%= comment.get_comment_date %></br>
                  <%= comment.comment_word %>
            </div>
          </td>
          <td>
            <% if comment.user.id == current_user.id %>
              <%= link_to "編集", edit_post_comment_path(@post,comment), class:"btn btn-success" %>
              <%= link_to "削除", post_comment_path(@post,comment), method: :delete, class:"btn btn-danger", "data-confirm" => "OKボタンを押すと削除します。本当に削除しますか？"  %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if user_signed_in? && !current_user.is_deleted %>
        <tr>
          <%= form_with model: [@post, @comment] do |f| %>
          <th>
            <%= f.text_field :comment_word, placeholder: "コメント入力欄", class: 'form-control', size: "50" %>
          </th>
          <td>
            <%= f.submit "コメント", class:"btn btn-primary"  %>
          </td>
          <% end %>
        </tr>
        <% end %>
        <tr>
          <td>
            <% if user_signed_in? && !current_user.is_deleted %>
              <% if @post.favorited?(current_user) %>
                <p>
                  <%= link_to post_favorite_path(@post), method: :delete do %>
                    ♥<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to post_favorites_path(@post), method: :post do %>
                    ♡<%= @post.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            <% else %>
             <p>
              ♥<%= @post.favorites.count %> いいね
              </p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if @post.user.id == current_user.id %>
    <div class="d-flex justify-content-lg-between">
        <%= link_to "編集", edit_post_path(@post.id), class:"btn btn-success btn-block" %>
    </div>
    <% end %>
  </div>
</div>