<div class = "row">
  <% if user_signed_in? && !current_user.is_deleted %>
     <%= render 'layouts/users_sidebar' %>
  <% end %>
  <div class = "offset-1">
    <h4><%= @post.title %></h4>
    <div class = "items_image offset-1">
      <%= image_tag @post.get_profile_image(200) %>
    </div>
  </div>

  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <td><%= @post.user.name %></td>
        </tr>
        <tr>
          <th>投稿日時</th>
          <td><%= @post.get_posted_date %></td>
        </tr>
        <tr>
          <td><%= render 'layouts/tag_list', tag_list: @post.tag_list %></td>
        </tr>
        <tr>
          <th>投稿コメント</th>
          <td><%= @post.posts_comment %></td>
        </tr>
        <tr>
          <th>コメント</th>
        </tr>
      </tbody>
    </table>
    <% if @post.user.id == current_user.id %>
    <div class="d-flex justify-content-lg-between">
        <%= link_to '編集', edit_post_path(@post.id), class:"btn btn-success btn-block" %>
    </div>
    <% end %>
  </div>
</div>