<div class = "row">
  <% if user_signed_in? && !current_user.is_deleted %>
     <%= render 'layouts/users_sidebar' %>
  <% end %>
    <h4 class = "gray field m-3"><%= current_user.name %> さんの投稿内容一覧</h4>
    <div>
    <table class = "table" >
      <thead class = "table-info">
        <tr>
          <th>投稿日時</th>
          <th>タイトル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |f| %>
        <tr>
          <td><%= f.get_posted_date %></td>
          <td><%= f.title %></td>
          <td>
            <%= link_to "変更", edit_post_path(f.id), method: :get , class: "btn btn-success" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <%= paginate @posts %>
</div>