<div class = "row">
  <%= render 'layouts/users_sidebar' %>
  <div class = "offset-1 col-7">
  <h4>コメント編集</h4>
  <%= form_with model: @comment, url: post_comment_path(@comment.id), method: :patch do |f| %>
   <%= render 'layouts/error_messages', model: f.object %>
    <div class = "field my-2 offset-1">
      <table class = "table table-borderless" >
        <tbody>
          <tr>
            <th>
              コメント内容
            </th>
          </tr>
          <tr>
            <td>
              <%= f.text_field :comment_word, placeholder: "コメント入力欄", class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex justify-content-end">
                <%= f.submit "変更", class:"btn btn-success" %>
              </div>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>