<div class = "d-flex justify-content-between">
  <h4 class = "field m-3">ねこずかん</h4>
   <%= link_to new_admin_type_path, class:"nav-link text-right" do %>
    追加
  <% end %>
</div>
<div>
  <table class = "table" >
    <thead class = "table-success">
      <tr>
        <th>ID</th>
        <th>種類名</th>
        <th>タグ</th>
      </tr>
    </thead>
    <tbody>
      <% @types.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td>
        <%= link_to admin_type_path(f.id) do %>
          <%= f.name %>
        <% end %>
        </td>
        <td>
          <%= render 'layouts/admin_type_tag_list', tag_list: f.tag_list %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</diV>
<div class = "d-flex justify-content-center">
  <%= paginate @types %>
</div>