<div class = "d-flex justify-content-between">
  <h4 class = "field m-3">ねこずかん</h4>
   <%= link_to new_admin_type_path, class:"nav-link text-right" do %>
   <i class="fas fa-cat fa-lg"></i>
    <% end %>
</div>
<div>
  <!-- テーブルヘッダー部分 -->
  <table class = "table" >
    <thead class = "table-success">
      <tr>
        <th>ID</th>
        <th>投稿日時</th>
        <th>種類名</th>
        <th>タグ</th>
      </tr>
    </thead>
    <tbody>
      <!-- 種類モデルから1ページ分（データ30件） -->
      <% @types.each do |f| %>
      <tr>
        <!-- 種類ID -->
        <td><%= f.id %></td>
        <!-- 投稿日時 -->
        <td><%= f.get_posted_date %></td>
        <!-- 種類名 -->
        <td>
          <!-- 種類詳細画面へのリンク -->
          <%= link_to admin_type_path(f.id) do %>
            <%= f.name %>
          <% end %>
        </td>
        <!-- タグリスト（登録した分だけ出力する。） -->
        <td>
          <%= render 'layouts/admin_type_tag_list', tag_list: f.tag_list %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- ページリンク -->
<div class = "d-flex justify-content-center">
  <%= paginate @types %>
</div>