<div class = "row">
  <div class = "offset-1">
    <h4><%= @type.name %></h4>
    <div class = "items_image offset-1">
      <%= image_tag @type.get_image(200) %>
    </div>
  </div>
  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <tr>
          <th>体　　長</th>
          <td><%= @type.body_length %></td>
        </tr>
        <tr>
          <th>出　　身</th>
          <td><%= @type.from %></td>
        </tr>
        <tr>
          <td><%= render 'layouts/tag_list', tag_list: @type.tag_list %></td>
        </tr>
        <tr>
          <th>詳　　細</th>
          <td><%= @type.detail %></td>
        </tr>
      </tbody>
    </table>
     <div class="d-flex justify-content-lg-between">
      <%= link_to "編集", edit_admin_type_path(@type.id), class:"btn btn-success" %>
      <%= link_to "削除", admin_type_path(@type.id), method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
</div>