  <div class="offset-1">
  	<div>
  		<div class="jumbotron">
  			<div class ="d-flex align-items-center">
  			 <p><strong>
  			  	do you like cat?
          </strong></p>
  			 </div>
  		</div>
  	</div>
  	<h4>新着投稿</h4>
      <div class ="d-flex justify-content-between flex-wrap">
        <% @posts.each do |f| %>
          <div class="posts offset-1">
            <%= link_to post_path(f.id) do %>
              <%= image_tag f.get_post_image_wide_height(200,150) %><br>
            <% end %>
            <%= f.title %><br>
           <%= link_to user_path(f.user_id) do %>
            <%= f.user.name %>
          <% end %>
          </div>
        <% end %>
　　　　</div>
      </div>
      <div class ="offset-1 d-flex justify-content-end">
  	     <%= link_to "全投稿を見る＞", posts_path %>
  	 </div>
    </div>
</div>