<div class = "row">
  <div class = "offset-1">
    <h4><%= @post.title %></h4>
    <div class = "items_image offset-1">
      <%= image_tag @post.get_profile_image(200) %>
    </div>
  </div>

  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <td><%= @post.user.name %></td>
        </tr>
        <tr>
          <th>投稿日時</th>
          <td><%= @post.get_posted_date %></td>
        </tr>
        <tr>
          <th>投稿コメント</th>
          <td><%= @post.posts_comment %></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-lg-between">
        <%= link_to "削除", admin_post_path(@post.id), method: :delete, class:"btn btn-danger btn-block" %>
    </div>
  </div>
</div>