<div class = "row">
  <div class = "offset-1">
    <h4><%= @post.title %></h4>
    <div class = "items_image offset-1">
      <%= image_tag @post.get_image %>
    </div>
  </div>

  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <td>
          <%= link_to admin_user_path(f.id) do %>
            <%= @post.user.name %>
          <% end %>
          </td>
        </tr>
        <tr>
          <th>投稿日時</th>
          <td><%= @post.get_posted_date %></td>
        </tr>
        <tr>
          <th>投稿コメント</th>
          <td><%= @post.posts_comment %></td>
        </tr>
        <tr>
          <th><%= render 'layouts/tag_list', tag_list: @post.tag_list %></th>
        </tr>
        <tr>
          <th>コメント ： <%= @post.comments.count %> 件</th>
        </tr>
        <tr>
          <td>
            <% @post.comments.each do |comment| %>
            <div>
                  <p><%= image_tag comment.user.get_profile_image(30) %> <%= comment.user.name %></p>
                  <%= comment.get_comment_date %></br>
                  <%= comment.comment_word %>
            </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
             <p>
              ♥<%= @post.favorites.count %> いいね
              </p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-lg-between">
        <%= link_to "削除", admin_post_path(@post.id), method: :delete, class:"btn btn-danger btn-block" %>
    </div>
  </div>
</div>