<div class = "row">
  <div class = "offset-1">
    <h4>ユーザー詳細</h4>
    <!-- ユーザー画像 -->
    <div class = "items_image offset-1">
      <%= image_tag @user.get_profile_image(200) %>
    </div>
  </div>

  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <!-- ユーザーID -->
        <tr>
          <th>ユーザーID</th>
          <td><%= @user.id %></td>
        </tr>
        <!-- ユーザー名 -->
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <!-- 性別（enum） -->
        <tr>
          <th>性　　別</th>
          <td><%= User.sexes_i18n[@user.sex] %></td>
        </tr>
        <!-- メールアドレス -->
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <!-- 自己紹介文 -->
        <tr>
          <th>自己紹介文</th>
          <td><%= @user.self_introduction %></td>
        </tr>
       <!-- ユーザーステータス -->
        <tr>
          <th>ユーザー</th>
          <% if @user.is_deleted %>
            <!-- 退会 -->
            <td class = "text-danger"><p class="font-weight-bold">退会</p></td>
          <% else %>
            <!-- 有効 -->
            <td class = "text-success"><p class="font-weight-bold">有効</p></td>
          <% end %>
        </tr>
      </tbody>
    </table>
     <div class="d-flex justify-content-lg-between">
      <!-- 編集ボタン -->
      <%= link_to "編集", edit_admin_user_path(@user.id), class:"btn btn-success btn-block" %>
    </div>
  </div>
</div>