<div class = "row">
  <div class = "offset-1">
    <h4><%= @type.name %></h4>
    <div class = "items_image offset-1">
      <%= image_tag @type.get_image(200) %>
    </div>
  </div>
  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <tr>
          <th>体　　長</th>
          <td><%= @type.body_length %></td>
        </tr>
        <tr>
          <th>原 産 国</th>
          <td><%= @type.country %></td>
        </tr>
        <tr>
          <td><%= render 'layouts/type_tag_list', tag_list: @type.tag_list %></td>
        </tr>
        <tr>
          <th>詳　　細</th>
        </tr>
        <tr>
          <td><%= @type.detail %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>