<div class = "row">
  <!-- サイドバー -->
  <%= render 'layouts/users_sidebar' %>
  <div class = "offset-1 col-7">
  <h4>プロフィール編集</h4>
  <!--　入力フォーム  -->
  <%= form_with model: @user, url: update_information_users_path, method: :patch do |f| %>
  <!-- エラーメッセージ  -->
  <%= render 'layouts/error_messages', model: f.object %>
    <div class = "field my-2 offset-1">
      <table class = "table table-borderless" >
        <tbody>
          <!-- プロフィール画像  -->
          <tr>
            <th>プロフィール画像</th>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <!-- ユーザー名 -->
          <tr>
            <th>ユーザー名</th>
            <td><%= f.text_field :name, :placeholder => "ネコハ太郎", autofocus: true, maxlength: "20" %></td>
          </tr>
          <!-- 性別 -->
          <tr>
            <th>性　　別</th>
            <td><%= f.select :sex, User.sexes_i18n.invert %></td>
          </tr>
          <!-- メールアドレス -->
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email, :placeholder => "sample@example.com" %></td>
          </tr>
          <!-- 自己紹介文 -->
          <tr>
            <th>自己紹介文</th>
            <td><%= f.text_area :self_introduction, :placeholder => "よろしくお願いいたします。" , size: "50x10" %></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <div class="d-flex justify-content-lg-between">
                <!-- 更新ボタン -->
                <%= f.submit '更新', class:"btn btn-success" %>
                <!-- 退会ボタン -->
                <%= link_to '退会', unsubscribe_path, class: "btn btn-danger" %>
              </div>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>