<div class = "row">
  <div class = "offset-1">
    <h4>ユーザー詳細</h4>
    <div class = "items_image offset-1">
      <!--　プロフィール画像  -->
      <%= image_tag @user.get_profile_image(200) %>
    </div>
  </div>

  <div class = "field my-2 offset-1">
    <table class = "table table-borderless" >
      <tbody>
        <!--　ユーザー名  -->
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <!--　性別  -->
        <tr>
          <th>性　　別</th>
          <td><%= User.sexes_i18n[@user.sex] %></td>
        </tr>
        <!--　メールアドレス  -->
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <!--　自己紹介文  -->
        <tr>
          <th>自己紹介文</th>
          <td><%= @user.self_introduction %></td>
        </tr>
      </tbody>
    </table>
    <div  class = "field my-2 offset-1">
      <!--「投稿した内容を見る」ボタン -->
      <%= link_to "投稿した内容を見る", user_posts_path(@user.id), class:"btn btn-primary btn-block" %>
    </div>
    <div class = "field my-2 offset-1">
      <!-- 「いいねを押した投稿」ボタン -->
      <%= link_to "いいねを押した投稿", user_favorites_path(@user.id), class:"btn btn-primary btn-block" %>
    </div>
    <div  class = "field my-2 offset-1">
      <!-- 「コメントした投稿」ボタン -->
      <%= link_to "コメントした投稿", user_comments_path(@user.id), class:"btn btn-primary btn-block" %>
    </div>
  </div>
</div>