   <header class ="header bg-secondary">
      <nav class="navbar navbar-expand-lg border border-bottom-dark">
        <div class="container">
          <nav class="nav navbar-nav navbar-left">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png' ,:width => '100', :height => '100' %>
            <% end %>
          </nav>
          <nav class="nav navbar-nav navbar-left">
            <% if user_signed_in? && !current_user.is_deleted %>
              <li>
                <div class="nav navbar-right text-light">
                  ユーザー名：<%= current_user.name %>
                </div>
              </li>
            <% end %>
          </nav>
          <nav>
             <ul class="nav navbar-right">
              <% if user_signed_in? && !current_user.is_deleted %>
                <li>
                  <%= link_to posts_path, class:"nav-link text-light" do %>
                    <i class="fas fa-search"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class:"nav-link text-light bg-dark" do %>
                    About
                  <% end %>
                </li>
                <li>
                  <%= link_to my_page_path, class:"nav-link text-light bg-dark" do %>
                    マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-light bg-dark" do %>
                    ログアウト
                  <% end %>
                </li>
                <li>
                  <%= link_to types_path, class:"nav-link text-light bg-dark" do %>
                    ねこずかん
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to admin_users_path, class:"nav-link text-light bg-dark" do %>
                    ユーザー一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_comments_path, class:"nav-link text-right" do %>
                    コメント一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_home_top_path, class:"nav-link text-right" do %>
                    投稿内容一覧
                  <% end %>
                </li>
                <li>
                <%= link_to destroy_admin_session_path, method: :delete,  class:"nav-link text-right" do %>
                  ログアウト
                <% end %>
                <li>
                  <%= link_to admin_types_path, class:"nav-link text-right" do %>
                    ねこずかん
                  <% end %>
                </li>
              </li>
              <% else %>
                <li>
                  <%= link_to posts_path, class:"nav-link text-right" do %>
                    検索
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path, class:"nav-link text-right" do %>
                    About
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class:"nav-link text-right" do %>
                    新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class:"nav-link text-right" do %>
                    ログイン
                  <% end %>
                </li>
                <li>
                  <%= link_to types_path, class:"nav-link text-right" do %>
                    ねこずかん
                  <% end %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </nav>
    </header>